<!DOCTYPE html>
<html>
<head>
	<title>Mail</title>
	<link href="https://fonts.googleapis.com/css?family=Acme|Lobster|Source+Code+Pro" rel="stylesheet">
</head>
<body style="background-color:lightgrey">

	<table 
		cellspacing="0"
		cellpadding="0"
		border="none"
		>

		<table
			bgcolor="white"
			align="center"
			style="text-align:center;border-radius:10px;padding:50px;margin-top:50px;margin-bottom:50px"

		>
			<tr>
				<td style="padding-bottom:30px;font-family: 'Source Code Pro', monospace;
">
					¡Bienvenido a nuestra plataforma!
				</td>
			</tr>
			<tr>
				<td style="padding-bottom:30px">
					<span
						style="font-family: 'Lobster', cursive;font-size:130%"
					>
						Como agradecimiento queremos darte
					</span> <span
					style="font-family: 'Acme', sans-serif;font-size:200%"
					> ¡un libro de regalo!
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://fixter.camp">
						<button
						style="padding:20px 30px; border:none;background-color:orangered;color:white;font-weight:bolder;font-size:150%"
						>
							¡Descargar!
						</button>
					</a>
				</td>
			</tr>
		</table>
		
	</table>

</body>
</html>